<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QUIEN QUIERE SER MILLONARIO</title>

<!-- --------------------------- bootstrap y css --------------------------- -->

    <link rel = "stylesheet" href="../css/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">

<!-- ------------------------------ script js ------------------------------ -->

    <script src="../js/mostrarProductos.js"></script>

</head>
<body>
         
    <section>
        <div class="jumbotron">
            
        </div>
    </section>

    <section>
        <div class="container">
            <h1 class="display-4">QUIEN QUIERE SER MILLONARIO</h1>
            <p>Has click en jugar o mira las instrucciones</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Iniciar</a>
            &nbsp;&nbsp;&nbsp;
            <a class="btn btn-info btn-lg" href="#" role="button">instrucciones</a>
        </div>
    </section>

    <footer>
        <h6>TODOS LOS DERECHOS RESERVADOS 2020</h6>
    </footer>

</body>
</html>