<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JUEGO</title>
     <!-- --------------------------- bootstrap y css --------------------------- -->
     <link rel="stylesheet" href="../css/juego.css">
     <link rel = "stylesheet" href="../css/bootstrap-4.4.1-dist/css/bootstrap.min.css">
     <!-- ------------------------------ script js ------------------------------ -->
     <script src="../js/juego.js"></script>
</head>
<body>

    <!-- ----------------------------------------------------------------------- -->
    <!--                              efecto carga                               -->
    <!-- ----------------------------------------------------------------------- -->
    <div id="contenedor_carga">
        <div id="carga"></div>
    </div>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                  logo                                   -->
    <!-- ----------------------------------------------------------------------- -->

    <section>
        <div class="widget">
            <figure>  
            <img src="../images/sitesa.jpeg" alt="icono sitesa" id="logoImg">  
            </figure>
        </div>
    </section>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                  audios                                 -->
    <!-- ----------------------------------------------------------------------- -->
    <audio id="cancionPregunta1a5">
        <source src="../audio/preguntas1-5.mp3" type="audio/mp3">
    </audio>
    <audio id="cancionPregunta6a10">
        <source src="../audio/preguntas6-10.mp3" type="audio/mp3">
    </audio>
    <audio id="cancionPregunta11a15">
        <source src="../audio/preguntas11-15.mp3" type="audio/mp3">
    </audio>
    <audio id="cancionCorrecta">
        <source src="../audio/respuesta correcta.mp3" type="audio/mp3">
    </audio>
    <audio id="cancionIncorrecta">
        <source src="../audio/respuestaincorrecta.mp3" type="audio/mp3">
    </audio>
    <!-- ----------------------------------------------------------------------- -->
    <!--                               cronometro                                -->
    <!-- ----------------------------------------------------------------------- -->

    <section>
        <div class="wrap">
            <div class="widget">
                <div class="cronometro" id="cronometro">
                    <p id="segundos" class="segundos"></p> &nbsp;&nbsp;&nbsp; <p>seg</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                 ayudas                                  -->
    <!-- ----------------------------------------------------------------------- -->

    <br>
    <section>
        <div class="container-fluid" id="containerAyudas">
            <h2>AYUDAS</h2>
            <div class="container" id="ayudas">
                <div class="row">
                    <div class="col" id="cincuentaCincuenta">50/50</div>
                    <div class="col" id="pista">pista sobre la pregunta</div>
                    <div class="col" id="masSegundos">60 segundos mas</div>
                </div> 
            </div>
        </div>
    </section>

<!-- ----------------------------------------------------------------------- -->
<!--                                preguntas                                -->
<!-- ----------------------------------------------------------------------- -->

    <br><br>
    <section>
        <div class="container-fluid">
            <div class="container" id="preguntas">
                <h2 id="pregunta"></h2>
                <div class="row">
                    <div class="col" id="a"></div>
                    <div class="col" id="b"></div>
                    <div class="w-100"></div>
                    <div class="col" id="c"></div>
                    <div class="col" id="d"></div>
                </div> 
            </div>
        </div>
    </section>
    <!-- ----------------------------------------------------------------------- -->
    <!--                            mensaje y boton                              -->
    <!-- ----------------------------------------------------------------------- -->

    <br><br>
    <section>
        <div class="container" id="alertas">
            <div class="row">
                <div class="col-10">
                    <div class="alert alert-success" role="alert" id="alertaOk">
                        <h4 class="alert-heading">bien hecho!</h4>
                        <p>Es la respuesta correcta.</p>                           
                    </div>
                    <div class="alert alert-danger" role="alert" id="alertaError">
                        <h4 class="alert-heading">Has perdido!</h4>
                        <p>Es la respuesta incorrecta o el tiempo a terminado.</p>                        
                    </div>
                </div>
                <div class="col-2">
                    <div class="btnOk" id="btnOk">
                        <button type="button" class="btn btn-success">Siguiente</button>
                    </div>
                    <div class="btnError" id="btnError">
                        <button type="button" class="btn btn-danger">Reiniciar</button>
                    </div>
                    <div class="btnSalir" id="btnSalir">
                        <button type="button" class="btn btn-primary">Salir</button>
                    </div>
                </div>
            </div> 
        </div>
    </section>

</body>

</html>